h2{
  font-size: 2rem;
}
.containerFilme{
  padding: 3rem 0;
}
.filme{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border-radius: 4px;
  transition: all ease-in 200ms;
}
.filme h3, .filme p{
  padding:  0 .5rem 0 .5rem;
}
.filme p{
  padding-bottom: 1rem;
}
.filme:hover {
  background-color: #2c2c2c;
}
.filme h3{
font-size: 1.125rem;
font-weight: bold;
}
.filme p{
font-size: 1rem;
line-height: 1.3;
}
